*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#countLabel{
    display: block;
    font-size: 50px;
    text-align: center;
    top: 50%;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    gap: 20px;
}
 #decreaseBtn,#resetBtn,#increaseBtn {   
  letter-spacing: 2px;
  font-size: medium;
  }
    